:root {
    /* Put here your signature area's size */
    --signWidth: 500px;
    --signHeight: 200px;
}

#drawingCanvas {
    background-color: white !important;
    border: 2px solid black;
    width: var(--signWidth) !important;
    height: var(--signHeight) !important;
}

.canvas-container, .upper-canvas  {
    width: var(--signWidth) !important;
    height: var(--signHeight) !important;
}

#clearBtn {
    margin-top: 20px;
}

.error-message {
    text-align: center;
}

#b64img {
    display: none;
}